<div class="card border-primary ">
    <div class="card-header">Registrar Pedido</div>
      <!--Input Size-->
					            <!--===================================================-->
					            <form class="form-horizontal">
					                <div class="panel-body">


                                        <div class="">
                                            <div class="row align-items-start">
                                                <div class="col">
                                                        <label for="demo-is-inputnormal" class="col-sm-3 control-label">Fecha Pedido</label>
                                                        
					
                                                        <!--Bootstrap Datepicker : Component-->
                                                        <!--===================================================-->
                                                        <div id="demo-dp-component">
                                                            <div class="input-group date">
                                                                <input type="text" class="form-control">
                                                                <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                                            </div>
                                                        </div>
                                                </div>
                                                <div class="col">
                                                        <a class="btn btn-primary">Agregar Item</a>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row align-items-start">
                                                <div class="col">
                                                    <label for="demo-is-inputnormal" class="col-sm-3 control-label">Producto</label>
                                                    <div class="col-sm-12">
                                                        <!-- Default choosen -->
					                            <!--===================================================-->
					                            <select data-placeholder="Choose a Country..." id="demo-chosen-select" tabindex="2">
					                                <option value="United States">United States</option>
					                                <option value="United Kingdom">United Kingdom</option>
					                                <option value="Afghanistan">Afghanistan</option>
					                                <option value="Aland Islands">Aland Islands</option>
					                                <option value="Albania">Albania</option>
					                                <option value="Algeria">Algeria</option>
					                            </select>
                                                    </div>
                                                    
                                                </div>
                                                <div class="col">
                                                        <label for="demo-is-inputnormal" class="col-sm-3 control-label">Cantidad</label>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" id="demo-is-inputnormal">
                                                        </div>
                                                </div>
                                                <div class="col">
                                                    <label for="demo-is-inputnormal" class="col-sm-3 control-label">Precio</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" id="demo-is-inputnormal">
                                                    </div>
                                                </div>
                                            </div>
                                          </div>
					                </div>
					                <div class="panel-footer">
					                    <div class="row">
					                        <div class="col-sm-9 col-sm-offset-3">
					                            <button class="btn btn-mint m-3" type="submit">Guardar</button>
					                            <button class="btn btn-danger m-3" type="reset" [routerLink]="['/order']">Cancelar</button>
					                        </div>
					                    </div>
					                </div>
					            </form>
					            <!--===================================================-->
					            <!--End Input Size-->
    
  </div>
  